<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>THE PAYPR STORY</title>
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
    rel="stylesheet"
/>
</head>
<body>
    <main>
        <div class="header">
            <div class="input">
                <i class="ri-search-line"></i>
            </div>
            <div class="mode">
                <div class="circle" >
                    <i class="ri-sun-line"></i>
                </div>
            </div>
        </div>
        <div class="board">
            <div class="boardHeading">THE PAYPAR STORY</div>

            <div class="poster">
                <p>-A printing service that makes getting your document printed and delivered effortless!</p>
            </div>
            <div class="boardBottom">
                <i class="ri-arrow-left-line"></i>
                <div class="boardNumber">
                    <div class="number active"></div>
                    <div class="number"></div>
                    <div class="number"></div>
                    <div class="number"></div>
                </div>
                <i class="ri-arrow-right-line"></i>
                
            </div>
        </div>
        <div class="bar">
            <div class="barHeading">Trending item
                <div class="barArrow">
                <i class="ri-arrow-right-line"></i>
                </div>
            </div>
            <div class="itemBar">
                <div class="item">
                    <div class="image">
                        <img src="https://m.media-amazon.com/images/I/61L0l5WYwIL._AC_UL320_.jpg" alt="Item image">
                    </div>
                    <div class="name">College File</div>
                    <div class="price">
                        <div class="fakePrice">₹20</div>
                        <div class="realPrice">₹15</div>
                    </div>
                </div>
                <div class="item">
                    <div class="image">
                        <img src="https://m.media-amazon.com/images/I/61L0l5WYwIL._AC_UL320_.jpg" alt="Item image">
                    </div>
                    <div class="name">College File</div>
                    <div class="price">
                        <div class="fakePrice">₹20</div>
                        <div class="realPrice">₹15</div>
                    </div>
                </div>
                <div class="item">
                    <div class="image">
                        <img src="https://m.media-amazon.com/images/I/61L0l5WYwIL._AC_UL320_.jpg" alt="Item image">
                    </div>
                    <div class="name">College File</div>
                    <div class="price">
                        <div class="fakePrice">₹20</div>
                        <div class="realPrice">₹15</div>
                    </div>
                </div>
                <div class="item">
                    <div class="image">
                        <img src="https://m.media-amazon.com/images/I/61L0l5WYwIL._AC_UL320_.jpg" alt="Item image">
                    </div>
                    <div class="name">College File</div>
                    <div class="price">
                        <div class="fakePrice">₹20</div>
                        <div class="realPrice">₹15</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bar">
            <div class="barHeading">Trending item
                <div class="barArrow">
                <i class="ri-arrow-right-line"></i>
                </div>
            </div>
            <div class="itemBar">
                <div class="item">
                    <div class="image">
                        <img src="https://m.media-amazon.com/images/I/61L0l5WYwIL._AC_UL320_.jpg" alt="Item image">
                    </div>
                    <div class="name">College File</div>
                    <div class="price">
                        <div class="fakePrice">₹20</div>
                        <div class="realPrice">₹15</div>
                    </div>
                </div>
                <div class="item">
                    <div class="image">
                        <img src="https://m.media-amazon.com/images/I/61L0l5WYwIL._AC_UL320_.jpg" alt="Item image">
                    </div>
                    <div class="name">College File</div>
                    <div class="price">
                        <div class="fakePrice">₹20</div>
                        <div class="realPrice">₹15</div>
                    </div>
                </div>
                <div class="item">
                    <div class="image">
                        <img src="https://m.media-amazon.com/images/I/61L0l5WYwIL._AC_UL320_.jpg" alt="Item image">
                    </div>
                    <div class="name">College File</div>
                    <div class="price">
                        <div class="fakePrice">₹20</div>
                        <div class="realPrice">₹15</div>
                    </div>
                </div>
                <div class="item">
                    <div class="image">
                        <img src="https://m.media-amazon.com/images/I/61L0l5WYwIL._AC_UL320_.jpg" alt="Item image">
                    </div>
                    <div class="name">College File</div>
                    <div class="price">
                        <div class="fakePrice">₹20</div>
                        <div class="realPrice">₹15</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fakeFooter"></div>
        <div class="footer">
            <div class="footerBox printout">
                <i class="ri-printer-line"></i>
                <div class="footerName">Printout</div>
            </div>
            <div class="footerBox home">
                <i class="ri-home-2-line"></i>
                <div class="footerName">Home</div>
            </div>
            <div class="footerBox cart">
                <i class="ri-shopping-cart-2-line"></i>
                <div class="footerName">Cart</div>
            </div>
            <div class="footerBox order">
                <i class="ri-instance-line"></i>
                <div class="footerName">Order</div>
            </div>
            <div class="footerBox profile">
                <i class="ri-user-line"></i>
                <div class="footerName">Profile</div>
            </div>
        </div>
    </main>
    <script src="/javaScripts/nav.js"></script>
    <script src="/javaScripts/home.js"></script>
</body>
</html>