<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>THE PAYPR STORY</title>
    <link rel="stylesheet" href="/stylesheets/login.css">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
    rel="stylesheet"
/>
</head>
<body>
    <main>
        <div class="header">
            <i class="ri-arrow-left-line back"></i>
            THE PAYPAR STORY
            <div class="div"></div>
        </div>
        <div class="slogan">For Students</div>
        <div class="emailText">Enter your Email ID to continue</div>
        <fieldset>
            <legend>Email ID</legend>
            <input type="text" class="input">
        </fieldset>
        <div class="condition">
            By continuing, you confirm that you are above 18 years of age , and you agree to <b>THE PAYPAR STORY</b>  <div class="term">Terms</div> of use and <div class="term">Privary Policy</div>
        </div>
        <form action="/signup">
            <input type="submit" value="Login" class="login">
        </form>
    </main>
    <script src="javaScripts/login.js"></script>
</body>
</html>