<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>THE PAYPR STORY</title>
    <link rel="stylesheet" href="/stylesheets/otp.css">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
    rel="stylesheet"
    />
    <link rel="manifest" href="/manifest.json">
<meta name="theme-color" content="#317EFB">
</head>
<body>
    <main>
        <div class="header">
            <i class="ri-arrow-left-line back"></i>
            THE PAYPAR STORY
            <div class="div"></div>
        </div>
        <div class="slogan">For Students</div>
        <div class="emailText">Enter your Email ID to continue</div>
            <div class="otp">
                <input class="one" type="number" name="one" id="">
                <input class="two" type="number" name="two" id="">
                <input class="three"  type="number" name="three" id="">
                <input class="four" type="number" name="four" id="">
            </div>
        <div class="condition">
            By continuing, you confirm that you are above 18 years of age , and you agree to <b>THE PAYPAR STORY</b>  <div class="term">Terms</div> of use and <div class="term">Privary Policy</div>
        </div>
        <form action="/verifyOtp" method="post">
            <input type="text" name="otp" id="" class="otpReal" style="display: none;">
            <input type="submit" value="Login" class="login">
        </form>
        <div class="fakeFooter"></div>

    </main>
    <script src="javaScripts/otp.js"></script>
</body>
</html>