<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>THE PAYPR STORY</title>
    <link rel="stylesheet" href="/stylesheets/printoutOrderPayment.css">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
    rel="stylesheet"
/>
</head>
<body>
    <main>
        <div class="header">
            <i class="ri-arrow-left-line"></i>
            <h4>Final check</h4>
        </div>
        <div class="file">
            <div class="fileImage">
                <img src="https://i.pinimg.com/736x/da/7c/05/da7c05593b6aab18651cca771638b873.jpg" alt="">
            </div>
            <div class="fileCount">1File (5Page)</div>
        </div>
        <div class="copy">
            <div class="copyNumber">Number of copies :</div>
                1
        </div>
        <div class="printOption">
            <div class="optionHeading">Printout Color</div>
            <div class="two">
                <div class="option">
                    <div class="optionName">
                        <div class="name">B&W</div>
                        <div class="price">₹3/page</div>
                    </div>
                    <div class="optionIcon"></div>
                </div>
                
            </div>
            <div class="optionHeading">Printout Orientation</div>
            <div class="two">
                <div class="option">
                    <div class="optionName">
                        <div class="name">Portrait</div>
                        <div class="price">₹10/page</div>
                    </div>
                    <div class="optionIcon"></div>
                </div>
                
            </div>
            <div class="optionHeading">Printout Style</div>
            <div class="two">
                <div class="option">
                    <div class="optionName">
                        <div class="name">Single Side</div>
                        <!-- <div class="price">₹10/page</div> -->
                    </div>
                    <div class="optionIcon"></div>
                </div>
                
            </div>
        </div>
        <div class="fakeFooter"></div>
        <div class="fakeFooter"></div>
        <div class="footer">
        <div class="amount">₹150</div>
        <div class="pay">Pay Now</div>
        </div>
    </main>
    <script src="javaScripts/nav.js"></script>
    <script src="javaScripts/printout.js"></script>
</body>
</html>