<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>THE PAYPR STORY</title>
    <link rel="stylesheet" href="/stylesheets/printout.css">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
    rel="stylesheet"
    />
    <link rel="manifest" href="/manifest.json">
<meta name="theme-color" content="#317EFB">
<script src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs" type="module"></script>
</head>
<body>
    <main>
        <div class="header">
            <div class="input">
                <i class="ri-search-line"></i>
                <div class="mic">
                    <i class="ri-mic-line"></i>
                </div>
            </div>
        </div>
        <div class="heading">Printout</div>
        <div class="slogan">"Print.Pack.Deliver.Straight to your classroom!"</div>
        <div class="name">-THE PAYPAR STORY</div>
    <div class="printOption">
        <div class="optionHeading">Printing Options -</div>
        <div class="printPart1">
            <ul>
                <li>Black & White</li>
                <li>Colorfull</li>
                <li>Single Side</li>
                <li>Double Side</li>
            </ul>
            <div class="image">
                <img src="https://in.canon/media/image/2024/08/21/4401e6b94fc245ffa14a95dcdfb9b73f_G3X70_%7E2.jpg" alt="">
            </div>
        </div>
        <form action="/printoutOrder" method="post" enctype="multipart/form-data">
            <label for="upload" class="upload">Upload</label>
            <input type="file" name="document" id="upload">
            <input type="submit" value="" style="display: none;" class="submit">
        </form>
        
        
    </div> 
    
    <div class="fakeFooter"></div>
    <div class="footer">
        <div class="footerBox printout">
            <i class="ri-printer-line"></i>
            <div class="footerName">Printout</div>
        </div> 
        <div class="footerBox home">
            <i class="ri-home-2-line"></i>
            <div class="footerName">Home</div>
        </div>
        <div class="footerBox cart">
            <i class="ri-shopping-cart-2-line"></i>
            <div class="footerName">Cart</div>
        </div>
        <div class="footerBox order">
            <i class="ri-instance-line"></i>
            <div class="footerName">Order</div>
        </div>
        <div class="footerBox profile">
            <i class="ri-user-line"></i>
            <div class="footerName">Profile</div>
        </div>
    </div>

    <div class="animation">
        <div class="documentImage">
        <dotlottie-player src="https://lottie.host/ac770004-4f6c-41c7-9667-93edea1aa623/c0b10nPJWx.lottie" background="transparent" speed="1" style="width: 100px; height: 100px" loop autoplay></dotlottie-player>
        </div>
        <div class="documentText">Uploading document</div>
        <div class="loading">
            <div class="load">
            <div class="inside">0%</div>
            </div>
        </div>
        <div class="note">We delete your uploaded file after delivery</div>
        <div class="cancelButton">Cancel Uploading</div>
    </div>
    </main>
    <script src="javaScripts/nav.js"></script>
    <script src="javaScripts/printout.js"></script>
</body>
</html>