<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>THE PAYPR STORY</title>
    <link rel="stylesheet" href="/stylesheets/search.css">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
    rel="stylesheet"
    />
    <link rel="manifest" href="/manifest.json">
<meta name="theme-color" content="#317EFB">
</head>
<body>
    <main>
     <div class="header">
         <input type="text" name="search" id="" placeholder="Search items" autofocus >
         <div class="button">
             <i class="ri-search-line"></i>
         </div>
     </div>
     <div class="box"></div>
     </main>
     <script src="/javaScripts/search.js"></script>
</body>
</html>

