*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
    user-select: none;
}
body{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}
main{
    height: 100vh;
    min-height: fit-content;
    width: 100vw;
    max-width: 30rem;
    /* border: 0.5px solid black; */
}
.header{
    height: 3.5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* padding: 12rem; */
    align-items: center;
    font-size: 1.3rem;
    font-weight: 600;
    padding: 1rem;
    /* border-bottom: 0.5px solid rgb(0, 0, 0); */
}
.header i{
    font-weight: 100;
    font-size: 1.6rem;
}
.file{
    height: 20rem;
    width: 100%;
    
    /* border: 0.5px solid black; */
}

.fileImage{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;         
    height: 280px;       
    overflow: hidden;
    border: 3px solid black;

    object-fit: contain;
    place-self: center;
    background: white;
}

.fileImage img{
    height: 100%;
    width: 100%;
    object-fit: contain;
   
    /* border: 1px solid black; */
    /* object-fit: contain; */
     filter: grayscale(100%); 
}
.fileCount{
    height: 15%;
    width: 100%;
    /* border: 0.5px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 600;
}
.copy{
    height: 2.5rem;
    width: 95%;
    place-self: center;
    border: 0.5px solid black;
    margin: 0.5rem;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.copyNumber{
    font-size: 0.8rem;
}
.copyOption{
    display: flex;
    height: 1.7rem;
    width: 3.5rem;
    border-radius: 4px;
    border: 0.5px solid black;
}
.inc,.dec,.number{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100%/3);
}
.inc,.dec{
    font-size: 1.4rem;
}
.printOption{
    height: fit-content;
    width: 95%;
    border: 0.5px solid black;
    padding: 1rem;
    place-self: center;
    border-radius: 5px;
}
.optionHeading{
    font-weight: 600;
}
.two{
    height: 4rem;
    width: 100%;
    /* border: 0.5px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.option{
    height: 2.5rem;
    width: 9rem;
    border: 0.5px solid black;
    border-radius: 5px;
    display: flex;
}
.optionName{
    height: 100%;
    width: 75%;
    font-size: 0.7rem;
}
.name,.price{
    height: calc(100%/2);
    display: flex;
    align-items: center;
    font-weight: 600;
    padding: 0.4rem;
}
.price{
    opacity: 0.7;
}
.fakeFooter{
    height:4.2rem;
}
.footer{
    height:4.2rem;
    width: 100%;
    border-top: 0.7px solid rgba(0, 0, 0, 0.393);

    position: fixed;
    bottom: 0;
    max-width: 30rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
}
.amount{
    height: 2.5rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pay{
    height: 2.5rem;
    width: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid black;
    border-radius:4px ;
    font-weight: 600;
    font-size: 0.9rem;
    background-color: rgb(60, 180, 0);
}
.selected{
    border:1px solid coral;
    background-color: rgba(255, 127, 80, 0.152);
}
.optionIcon{
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 0.5px solid black;

}
.optionIcon img{
    height: 1.5rem;
    width: 1.5rem;
}
