*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;font-weight:500;
}
body{
    height: 100vh;
    width: 100vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    user-select: none;
    /* background-image: url(/images/cow.png);
    background-position: center;
    background-size: contain;
    background-position: top ;
    background-repeat: no-repeat;
    background-position-y: 4rem; */
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;

}
main{
    height: 100%;
    width: fit-content;
    min-width: fit-content;
    min-height: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(94, 94, 94, 0.115);
    /* background: linear-gradient( 145deg,rgb(0, 255, 255),rgba(0, 255, 255, 0.33),rgba(0, 255, 255, 0.42),rgba(0, 255, 255, 0.141),white,white,white); */
}
.myProfile{
    height: 3rem;
    width: 100vw;
    /* min-width: 25rem; */
    max-width: 30rem;
    padding: 0.5rem;
    /* border: 1px solid black; */
    display: flex;
    font-size: 1.2rem;
    align-items: center;
    font-weight: 700;
    background-color: white;

}
.personalDetail,.address,.feedback{
    margin-top:1rem ;
    height: fit-content;
    width: 100vw;
    /* min-width: 25rem; */
    max-width: 30rem;
    /* border: 1px solid black; */
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: white;
}
.mainText{
    font-size: 1rem;
    opacity: 0.6;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mainText img{
    height: 1.5rem;
    width: 1.5rem;
}
.detail{
    height: 3rem;
    width: 100%;
}
.bold{
    font-size: 1.1rem;
    font-weight: 700;
}
.feedback{
    display: flex;
    flex-direction: column;
}
.input{
    height: 3rem;
    width: 80%;
    border: 1px solid rgba(0, 0, 0, 0.52);
    place-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    opacity: 0.6;
}
.fakeFooter{
    height:4.2rem;
}
.footer{
    height:4.2rem;
    width: 100%;
    border-top: 0.7px solid rgba(0, 0, 0, 0.393);

    position: fixed;
    bottom: 0;
    max-width: 30rem;
    display: flex;
    justify-content: space-evenly;
    background-color: white;
}
.footerBox{
    height: 4.2rem;
    width: calc(100%/4);
    /* width: 5rem; */
    font-size: 1.6rem;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
    /* border: 0.1px solid black ; */
    
}
.footerName{
    font-size: 0.8rem;
}
.printout{
    height: 4rem;
    width: 4rem;
    border-radius: 10px;
    border: 0.5px solid black;
    position:absolute;
    bottom: 6rem;
    right: 0.5rem;
    /* background-color: white; */
    background-color: white;
    opacity: 1;
}



.feedbackjs{
    height: 16rem;
    width: 100%;
    max-width: 30rem;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0;
    z-index: 100;
    background-color: white;
    display: none;
}
.textFeedback{
    height: 2rem;
    will-change: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(30, 0, 255);
}
textarea{
    display: flex;
    height: 4rem;
    width: 90%;
    border: 1px solid black;
    align-self: center;
    border-radius: 7px;
    outline: none;
    display: flex;
    place-content: center;
    font-size: 1.3rem;
    padding: 1rem;
    resize: none;
    scrollbar-width: 2px;
}

.submit{
    height: 2.5rem;
    width: 7rem;
    border: 1px solid black;
    place-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


.detailjs,.detailjs1{
    height: 20rem;
    width: 100%;
    max-width: 30rem;
    border: 1px solid black;
    background-color: white;
    z-index: 100;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    position: fixed;
    bottom: -20rem;
}
form{
    height: 100%;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
input{
    height: 2.5rem;
    width: 80%;
    border: 1px solid rgb(0, 94, 255);
    outline: none;
    padding: 0.5rem;
    border-radius: 4px;
    font-size: 1.1rem;
}
input[type="submit"]{
    width: 7rem;
     transition: all linear 10ms;
    background-color: rgb(0, 94, 255);
    color: white;
}
input[type="submit"]:hover{
    border-radius: 15px;
}