*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;font-weight:500;
}
body{
    height: 100vh;
    width: 100vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    user-select: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;

}

main{
    height: 100%;
    width: 100vw;
    max-width: 30rem;
    min-height: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background-color: rgba(61, 255, 239, 0.052); */
    row-gap: 0.5rem;
    /* background:linear-gradient(105deg,rgb(0, 132, 255),rgb(0, 132, 255),rgb(7, 170, 235)); */
    /* border: 1px solid black; */
} 
.header{
    height: 4rem;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
input{
    height: 2.5rem;
    width:80%;
    padding-left: 1rem;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.296);
    border-radius: 6px;
}
.button{
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button i{
    font-size: 2rem;
}
.box{
    height: fit-content;
    width: 100%;
    max-width: 30rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.5rem;

}
.barItem{
    height: 15rem;
    width: 9rem;
    display: flex;
    align-items: center;
    border-radius: 5px;
    flex-direction: column;
    flex-shrink: 0;
    border: 1px solid rgba(0, 0, 0, 0.097);
    /* background-color: rgba(128, 128, 128, 0.061); */

}
.barItem:hover img{ 
    background-color: rgba(128, 128, 128, 0.623);
    animation: motion linear 1.5s forwards ;
    animation-iteration-count: 2;
} 

@keyframes motion{
    100%{
        transform: rotateY(360deg);
    }
}
.image{
    height: 50%;
    width: 100%;
    border-radius: 7px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
.image img{
    height: 70%;
    width: 70%;
    

    /* object-position: center; */
    
    /* display: flex; */
    mix-blend-mode: multiply;

}


.itemName{
    padding-left: 0.5rem;
    width: 100%;
    height: 2.7rem;
    border: 1px solid white;
    /* display: flex; */
    font-size: 0.8rem;
    display: flex;
    align-items: center;
   flex-wrap: wrap;
   overflow: hidden;
    
}
.price,.off{
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    width: 100%;
    height: 2rem;
    flex-shrink: 0;
    display: flex;
    flex-wrap: wrap;
}

.fakePrice{
    text-decoration: line-through;
    opacity: 0.6;
    display: flex;
   flex-shrink: 0;
   height: 100%;

}
.realPrice{
    padding-left: 0.3rem;
    font-weight: 600;
   flex-shrink: 0;
   height: 100%;


}
.off{
    font-weight: 600;
}
.addToCart{
     display: none;
}
.red{
    color: red;
}